.header-left,
.header-right,
.header {
  display: flex;
  align-items: center;
}
.header-left .logo {
  margin-right: 3rem;
}
.header {
  justify-content: space-between;
  height: 8rem;
  padding: 0 5rem;
}
.navSearch {
  display: flex;
  position: relative;
  input {
    width: 30rem;
    border: 1px solid  #888;
    border-right: none;
    border-radius: 3px 0 0 3px;
    padding: 8px 10px;
  }
}
.btnSearch {
  background-color: black;
  border-radius: 0 3px 3px 0;
  padding: 2px 15px;
  font-size: 1.3rem;
  border: none;
  fill: white;
  line-height: 10px;
}

.header-right {
  gap: 2rem;
  span,
  a {
    color: #888;
    font-weight: 500;
  }
  span{
    display: flex;
    align-items: center;
    gap: 5px
  }
}
.header-right .join {
  color: #1dbf73;
  border: solid 2px #1dbf73;
  padding: 0.4rem 1.8rem;
  border-radius: 0.3rem;
}
