
// -----------------------------------------------
html {
  // default browser: 16px;
  // 10px -> rem: phụ thuộc vào font-size của HTML
  // 1.2rem => 12px
  // 1.1rem => 11px
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: normal;
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
                                                
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
