.footer {
  padding: 5rem;
  margin: 0 -5rem;
  display: flex;
  justify-content: space-around;
  border-top: solid 1px #ccc;
  h2 {
    font-weight: 500;
    margin-bottom: 2rem;
  }
  a {
    color: #888;
    line-height: 3.5rem;
  }
  a:hover {
    color: chocolate;
  }
  .list {
    display: flex;
    flex-direction: column;
  }
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 7.4rem;
  font-size: 2rem;
  font-weight: 500;
  background-color: #d9d9d9;
  p {
    margin-bottom: 0;
  }
}
