.dropDown,
.nav {
  display: flex;
}

.nav {
  padding: 1rem 5rem;
  color: #888;
  justify-content: space-between;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}
.menuDrop {
  position: relative;
  cursor: pointer;
}

.dropDown {
  display: none;
  position: absolute;
  top: 20rem;
}
.menuDrop:hover .dropDown {
  display: block;
  color: red;
}
